
body{ 
    font-family: 'Press Start 2P',serif;; 
    text-align: justify;
    
    color: white;
    /* animation-name: background;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: reverse;*/
}
p{
    font-family: serif;; 
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;
}
#me_img{
    height: 400px;
    width: 400px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}