@keyframes SunAnim {
    from{
        box-shadow: 1px 1px 50px yellow;
    } 
    to{
        /*transform: rotateZ(360deg); */
        box-shadow: 1px 1px 100px yellow;
    }
}

@keyframes planet{
    0%{
        z-index: 0;
        transform: rotateY(0) translateZ(240px);
    } 
    90%{
        z-index: -1;
    }
    100%{
        z-index: 0;
        transform: rotateY(180deg) translateZ(240px);
    }
}
body{ 
    font-family: 'Press Start 2P',serif;; 
    font-size: medium;
    text-align: justify;
    color: white;
    /* animation-name: background;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: reverse;*/
}
p{
    font-family: serif;; 
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

#sun{

    z-index: auto;
    height: 150px;
    width: 150px;
    background-image: radial-gradient(circle at 30px 40px, yellow, rgb(255, 123, 0));
    position: relative; 

    top: 10px;
    margin: auto;

    animation: SunAnim 20s alternate infinite;
    box-shadow: 10px 10px 10px rgb(238, 255, 0);
    border-radius: 50%;
}
#planet{
    z-index: 0;
    background-image: radial-gradient(circle at 30px 50px, yellow,black); 
    height: 10px;
    width: 10px;
    position: inherit;
    top: 30%;
    left: -40%;
    border-radius: 50%;
    animation: planet 30s infinite;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}